*{
    margin: 0;
}
nav{
    width: 100%;
 
    margin-bottom: 30px;
    
}

.illustration{
    min-width: 350px;
    max-width: 120%;
    margin: 0 auto;
    height: auto;
} 

.illustration__hero{
    width: 100%;
}

.manager__header{
font-size: 2.5rem;
padding-top: 30px;

}

.manager{
    max-width: 370px;
}


.btn{
    margin: 5px;
}

.features{
    text-align: center;
}

.illustrations{
    min-width: 350px;
    max-width: 100%;
    margin: 0 auto;
    margin-left: -25px;
}

.download, .faq{
    text-align: center;
}

.browsers{
    
    padding: 30px;
}

.footer__link{
    margin-right: 30px;
}

.tw {
    padding-top: 3px;
}